<ion-content [fullscreen]="true" class="contenido">

    <ion-card>
        <img src="https://www.tepic.tecnm.mx/images/escudo_itt_200x200.png">
        <ion-card-header>
            <ion-card-title>Login</ion-card-title>
        </ion-card-header>

        <ion-card-content>

            <ion-item>
                <ion-label position="floating">email</ion-label>
                <ion-input></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input></ion-input>
            </ion-item>

            <ion-button expand="block" shape="round">Entrar</ion-button>

        </ion-card-content>
    </ion-card>
</ion-content>